<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
*   popular languages
*   popular libraries
*   simple math expression

Some of the popular languages that Data Scientists use are:
1. (Python) First item
2. (R) Second item
3. (C++)Third item

Some of the commonly used libraries used by Data Scientists include:
1. (Pandas) First item
2. Matplotlib Second item
3. NumPy Third item

Data Science Tools|
|-----------------|
|1  Jupyter Notebook |
|2 Google Colab|
|3 MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

In [7]:
minutes = 200
conversion2h = 60
hours = minutes/conversion2h
print(hours)

3.3333333333333335

## Author(s)

[Dimitra Tsimpli](https://www.linkedin.com/in/tsimpli/)